<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <%- include("./partials/styles.ejs") %>
    <div class="full-page">
        <header>
        <%- include("./partials/header.ejs") %>
        </header>
        <h1>All Products</h1>
        <div class="all-items">
            <% items.forEach(item => { %>
                <div class="item">
                    <img class="index-img" src=<%= item.img %>> <br />
                    <a class="index-img" href="/store/<%=item._id; %>"> <%=item.name; %> </a>| $<%=item.price; %> | <%=item.qty%> left
                </div>
            <% }) %>
        </div>
        
    </div>
</body>
</html>