<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <!-- tried npm install jquery and used it in head as well, does not seem to
    get button to change this way-->
    <!-- <script>
        $(document).ready(function () {
            const i = $(`${item.qty}`).val();
            $(".buy-button").click(function () {
                $(`${item.qty}`).val(--i);
            });
        });
    </script> 
    also just tried playing around with jquery in flounders but that broke page-->

    <%- include("./partials/styles.ejs") %>
    <div class="full-page">
        <header>
            <%- include("./partials/header.ejs") %>
        </header>
        <h1><%= item.name %></h1>
        <div class="item-details">
            <img class="show-img" src="<%= item.img %>"><br />
            <h4 class="price">
                $<%= item.price %> | <%= item.qty %> left <br />
                <!-- <button class="buy-button"><a href="/store/<%=item._id%>/buy">BUY</a></button> -->
                <button class="buy-button">BUY</button>
            </h4>
            <p class="description"><%= item.description %></p>
            <form action="/store/<%= item.id %>?_method=DELETE" method="POST">
                <input class="delete-button" type="submit" value="DELETE" />
                <button class="edit-button"><a href="/store/<%=item.id %>/edit">Edit</a></button>
            </form>
        </div>
    </div>
</body>
</html>