<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <%- include("./partials/styles.ejs") %>
    <div class="full-page">
        <header>
            <%- include("./partials/header.ejs") %>
        </header>
        <h1><%= item.name %></h1>
        <div class="item-details">
            <img class="show-img" src="<%=item.img %>"><br />
            <h4 class="price">
                $<%= item.price %> | <%= item.qty %> left <br />
                <button class="buy-button">buy</button>
            </h4>
            <p class="description"><%= item.description %></p>
            <form action="/store/<%= item.id %>?_method=DELETE" method="POST">
                <input class="delete-button" type="submit" value="DELETE" />
                <button class="edit-button"><a href="/store/<%=item._id %>/edit">Edit</a></button>
            </form>
        </div>
    </div>
</body>
</html>